body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background: linear-gradient( to left top, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    min-height: 100vh;
}

@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('./fonts/SEGA.woff') format('woff');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.robo-title {
    padding: 35px 0 40px;
    font-family: 'SEGA LOGO FONT';
    color: #0ccac4;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 40px;
}
.search-box {
    margin: 0 auto 50px;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}